#gridcontainer{margin: 20px 0; width: 100%; }
#gridcontainer h2 a{color: #77787a; font-size: 13px;}
#gridcontainer .griditemleft{float: left; width: 150px; margin: 0 20px 20px 0;}
#gridcontainer .griditemright{float: left; width: 150px; }
#gridcontainer .postimage{margin: 0 0 10px 0;}
